$color_main: rgb(255, 81, 0);
$color_darker: rgb(54, 45, 45);
$size: 200px;

.wrapper__item {
    border: 8px solid $color_darker;
    background: $color_main;
    width: $size;
    height: $size;
}

.wrapper__item--circle {
    border-radius: 30%;
}